<h1 id="tableLabel">Doctors</h1>

<p>Current page: {{doctors?.currentPage}}</p>
<p>Last page: {{doctors?.totalPages}}</p>

<div class="example-button-row">
  <button mat-raised-button [routerLink]='["../edit"]' color="primary">Add</button>
</div>

<mat-paginator [length]="doctors?.totalItems"
               [pageSize]="doctors?.itemsPerPage"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="pageEvent = loadDoctors($event)">
</mat-paginator>

<table mat-table [dataSource]="doctors.items" class="mat-elevation-z8">



  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef style="width:20%"> First name </th>
    <td mat-cell *matCellDef="let doctor"> {{doctor.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef style="width:20%"> Last Name </th>
    <td mat-cell *matCellDef="let doctor"> {{doctor.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="speciality">
    <th mat-header-cell *matHeaderCellDef style="width:20%"> Medical speciality </th>
    <td mat-cell *matCellDef="let doctor"> {{doctor.speciality}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="width:20%"> Actions </th>
    <td mat-cell *matCellDef="let doctor">
      <div [routerLinkActive]="['link-active']">
        <button mat-icon-button matTooltip="Edit" [matTooltipPosition]="'after'">
          <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]="['../edit', doctor.id]">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'after'">
          <mat-icon aria-label="Example icon-button with a heart icon " (click)="deleteDoctor(doctor)">delete</mat-icon>
        </button>

      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="patients">
    <th mat-header-cell *matHeaderCellDef style="width:20%"> Doctor patients </th>
    <td mat-cell *matCellDef="let doctor">
      <div [routerLink]="['/fetch-data', doctor.id]">
        <button mat-button>Patients ></button>
      </div>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


